customtkinter==5.2.2
CTkToolTip==0.8
Keras==2.13.1
matplotlib==3.6.1
numpy==1.23.4
opencv-contrib-python==4.6.0.66
openpyxl==3.0.10
orientationpy==0.2.0.4
pandas==1.5.1
pandastable==0.13.1
Pillow==9.2.0
pre-commit==2.17.0
scikit-image==0.19.3
scikit-learn==1.1.2
sewar==0.4.5
shapely==2.0.5
tensorflow==2.13.0
tqdm==4.64.1
keras-unet-collection==0.1.13
